*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    list-style: none;
}
#container{
    width: 800px;
    margin: 0 auto;
}
header{
    background-color: #f46075;
    overflow: hidden;
    padding: 10px 0;
}
header h1{
    color: white;
    float: left;
    margin-top: 70px;
    margin-left: 50px;
}
header img{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
nav{
    height: 60px;
    background-color: #ccc;
}
nav ul li{
    display: inline;
    line-height: 40px;
    background-color: #ccc;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}
nav ul li a{
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
}
nav ul li a:hover{
    background-color: #f46075;
    color: #fff;
    border-radius: 20px;
}
section{
    width: 550px;
    height: 550px;
    background-color: skyblue;
    float: left;
    margin: 0 auto;
}
section h2{
    padding-top: 10px;
    text-align: center;
}
section article{
    
    width: 220px;
    height: 210px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #000;
    background-color: #fff;
}
section article h3{
    padding-left: 30px;
    background: url(../img/bg.png) no-repeat;
    margin-bottom: 10px;
}

aside{
    display: block;
    width: 250px;
    height: 550px;
    float: right;
    background-color: #ffffcc;
    text-align: center;
}
aside h2{
    padding: 10px;
}

.main{
    overflow: hidden;
}
footer{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #333;
    color: #fff;
}